<!-- library_events.html -->
{% extends 'lib_base.html' %}

{% block title %} library events Page {% endblock %}

{% block content %}
  <h1>Upcoming Library Events</h1>
  <p>Join us for exciting events and activities at the library.</p>
  
  <ul class="list-group">
    <li class="list-group-item">
      <h5>Book Reading - March 2025</h5>
      <p>Join us for a book reading session by Author X. Date: March 10, 2025.</p>
    </li>
    <li class="list-group-item">
      <h5>Workshop on Digital Libraries</h5>
      <p>Learn about the future of libraries in the digital age. Date: March 15, 2025.</p>
    </li>
    <li class="list-group-item">
      <h5>Poetry Night</h5>
      <p>Celebrate poetry with local poets. Date: March 20, 2025.</p>
    </li>
  </ul>
{% endblock %}
